<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				
				<!-- Application files -->
				<Directory Id="INSTALLDIR" Name="GifComponents">
					<Component Id="LicenseRtf" 
					           Guid="463CB361-65ED-419B-B039-7C87FBA48C43" 
					           DiskId="1">
						<File Id="LicenseFile" 
						      Name="license.rtf" 
						      Source="license.rtf"/>
					</Component>
					<Component Id="LicenseTxt" 
					           Guid="465D0B5F-5F37-42F6-92D8-4AD47E5E1CCB"
					           DiskId="1">
						<File Id="LicenseTxt" 
						      Name="license.txt"
						      Source="..\GifInspector\license.txt"/>
					</Component>
					<Component Id="GifInspector" 
					           Guid="DC74058F-3267-47FD-BC36-EA71F76EBB1A"
					           DiskId="1">
						<File Id="GifInspector" 
						      Name="GifInspector.exe" 
						      Source="..\GifInspector\bin\release\GifInspector.exe" 
						      KeyPath="yes">
						</File>
					</Component>
					<Component Id="GifInspectorShortcut" Guid="3E6C10A9-B78D-4D0E-A353-83AB49E209F2" DiskId="1">
						<CreateFolder/>
						<RegistryKey Root="HKCU" 
						             Key="Software\GifComponents\Application\Install" 
						             Action="createAndRemoveOnUninstall">
							<RegistryValue Name="GifInspectorShortcut" 
							               Type="integer" 
							               Value="1"/>
						</RegistryKey>
						<Shortcut Id="GifInspectorShortCut" 
						          Directory="ProgramMenuSubFolder" 
						          Name="GifInspector.exe" 
						          Target="[INSTALLDIR]GifInspector.exe"
						          WorkingDirectory="INSTALLDIR"/>
					</Component>
					<Component Id="GifBuilder" 
					           Guid="4FC185E5-C1C4-4D81-B68E-802DB7359A54"
					           DiskId="1">
						<File Id="GifBuilder" 
						      Name="GifBuilder.exe" 
						      Source="..\GifBuilder\bin\release\GifBuilder.exe">
						</File>
					</Component>
					<Component Id="GifBuilderShortcut" 
					           Guid="33F8FE04-C16A-4018-9320-5CFF0CF0694A" 
					           DiskId="1">
						<CreateFolder/>
						<RegistryKey Root="HKCU" 
						             Key="Software\GifComponents\Application\Install" 
						             Action="createAndRemoveOnUninstall">
							<RegistryValue Name="GifBuilderShortcut" 
							               Type="integer" 
							               Value="1"/>
						</RegistryKey>
						<Shortcut Id="GifBuilderShortcut" 
						          Directory="ProgramMenuSubFolder" 
						          Name="GifBuilder.exe" 
						          Target="[INSTALLDIR]GifBuilder.exe"
						          WorkingDirectory="INSTALLDIR"/>
					</Component>
					<Component Id="GifComponents" 
					           Guid="BA1252C1-6AB0-4422-92D1-7B7EF3F10836"
					           DiskId="1">
						<File Id="GifComponents" 
						      Name="GifComponents.dll"
						      Source="..\GifInspector\bin\release\GifComponents.dll"
						      KeyPath="yes"
						      Assembly=".net"/>
					</Component>
					<Component Id="CommonForms" 
					           Guid="9D571E22-E84E-435B-A56D-8C904181E776"
					           DiskId="1">
						<File Id="CommonForms" 
						      Name="CommonForms.dll"
						      KeyPath="yes" 
						      Assembly=".net"
						      Source="..\..\CommonForms\CommonForms\bin\release\CommonForms.dll"/>
					</Component>
					<Component Id="GifInspectorAboutFormParameters" 
					           Guid="9A2DBB5D-C387-4763-9755-1A165A1BD2F6"
					           DiskId="1">
						<File Id="GifInspectorAboutFormParameters" 
						      Name="GifInspector.AboutFormParameters.xml"
						      Source="..\GifInspector\GifInspector.AboutFormParameters.xml"/>
					</Component>
					<Component Id="GifBuilderAboutFormParameters" 
					           Guid="E3F54C5C-5B94-4EC9-905C-83F95ED9087B"
					           DiskId="1">
						<File Id="GifBuilderAboutFormParameters" 
						      Name="GifBuilder.AboutFormParameters.xml"
						      Source="..\GifBuilder\GifBuilder.AboutFormParameters.xml"/>
					</Component>
					<Directory Id="ColourTables" Name="ColourTables">
						<Component Id="ColourTableC64" 
						           Guid="6C4373C0-152D-4162-B95E-5025E4E76B61" 
						           DiskId="1">
							<File Id="ColourTableC64" 
							      Name="C64.act" 
							      Source="..\GifComponents\ColourTables\C64.act"/>
						</Component>
						<Component Id="ColourTableCga" 
						           Guid="93E93AD5-6362-4AA2-976B-924214F1C4BD" 
						           DiskId="1">
							<File Id="ColourTableCga" 
							      Name="cga.act" 
							      Source="..\GifComponents\ColourTables\cga.act"/>
						</Component>
						<Component Id="ColourTableGameboy" 
						           Guid="E0FD0765-573F-4A5E-89DD-D625B3889636" 
						           DiskId="1">
							<File Id="ColourTableGameboy" 
							      Name="gameboy.act" 
							      Source="..\GifComponents\ColourTables\gameboy.act"/>
						</Component>
						<Component Id="ColourTableGrayscale" 
						           Guid="A06385FE-5ACD-4358-8F9D-8DABA2A4C91B" 
						           DiskId="1">
							<File Id="ColourTableGrayscale" 
							      Name="grayscale.act" 
							      Source="..\GifComponents\ColourTables\grayscale.act"/>
						</Component>
						<Component Id="ColourTableMacintosh" 
						           Guid="9DA15B66-56D6-4D58-8490-258641902FC4" 
						           DiskId="1">
							<File Id="ColourTableMacintosh" 
							      Name="macintosh.act" 
							      Source="..\GifComponents\ColourTables\macintosh.act"/>
						</Component>
						<Component Id="ColourTableTest" 
						           Guid="4C38F33D-89BD-46CA-AC85-96BF5E75D394" 
						           DiskId="1">
							<File Id="ColourTableTest" 
							      Name="test.act" 
							      Source="..\GifComponents\ColourTables\test.act"/>
						</Component>
						<Component Id="ColourTableUglyMix" 
						           Guid="D9AE42E4-2AE3-45DA-95EE-378EFD3D1BBB" 
						           DiskId="1">
							<File Id="ColourTableUglyMix" 
							      Name="Uglymix.act" 
							      Source="..\GifComponents\ColourTables\Uglymix.act"/>
						</Component>
						<Component Id="ColourTableUniform" 
						           Guid="EBADD384-7286-4BEA-B38D-CF6F9148FE43" 
						           DiskId="1">
							<File Id="ColourTableUniform" 
							      Name="uniform.act" 
							      Source="..\GifComponents\ColourTables\uniform.act"/>
						</Component>
						<Component Id="ColourTableWeb216" 
						           Guid="E1C76132-DCC1-4A15-A33C-B6047C559391" 
						           DiskId="1">
							<File Id="ColourTableWeb216" 
							      Name="web216.act" 
							      Source="..\GifComponents\ColourTables\web216.act"/>
						</Component>
						<Component Id="ColourTableWindows" 
						           Guid="3ADCF300-85A7-4D54-A597-4FDCDC5CC4DB" 
						           DiskId="1">
							<File Id="ColourTableWindows" 
							      Name="windows.act" 
							      Source="..\GifComponents\ColourTables\windows.act"/>
						</Component>
					</Directory>
				</Directory>
			</Directory>

			<!-- Folder in the start menu -> programs for shortcuts -->
			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="ProgramMenuSubFolder" 
				           Name="GifComponents">
					<Component Id="ProgramMenuFolderApp" 
					           Guid="4AE27E38-8D17-40F6-92DF-E5BB2FCB08E8">
						<RemoveFolder Id="ProgramMenuFolder" On="uninstall"/>
						<RegistryValue Root="HKCU" 
						               Key="Software\GifComponents" 
						               Type="string" 
						               Value="" 
						               KeyPath="yes"/>
					</Component>
				</Directory>
			</Directory>
		
		</DirectoryRef>
	</Fragment>
</Wix>
